@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #84cd87; */
}

header {
  text-align: center;
  padding: 2rem;
  border-bottom: 7px solid #eee;
}

h1 {
  font-size: 4rem;
}

.between {
  font-size: 1.4rem;
}

.again {
  margin-top: 1rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #eee;
  color: #222;
  border: none;
  cursor: pointer;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  padding: 3rem 0rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.game {
  text-align: center;
}

.guess {
  margin-top: 2rem;
  font-size: 3rem;
  padding: 1rem;
}

.btn {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #eee;
  color: #222;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-top: 2rem;
  font-size: 2rem;
}

.label-score,
.label-highscore {
  margin-top: 1rem;
  font-size: 1.8rem;
}
